
.logo2 {

    left: 33rem;
    margin-top: 15px;
    position: relative;
    width: 300px;

}

.titulo {
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  text-align: center;
}


.audioItem {

  margin-left: 15px;

}
