<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">


<h3>Venha ser um vencedor, junte-se agora cód: {{CodClan}}</h3>



<div class="conteudo">
  <img src="../../../assets/img/Vencedor.png" alt="Imagem de personagens vencendo">
  <ul class="lista">
    <li class="item">Clã {{nomeCla}}</li>
    <li class="item">No campo de batalha, somos imbatíveis!</li>
    <li class="item">Vejam nossos outros <a href="#">{{Clans}}</a></li>
    <li class="item">Vejam nosso <a href="#">Instagram</a></li>

  </ul>


</div>

<p class="author">&copy; Wesley Miyashiro</p>
